{% extends "imagetask/base.html" %}
{% block title %}{{ block.super }} :: student{% endblock %}
{% load staticfiles %}


{% block content %}
   <center><h1>Student</h1></center>

   <form role="form">
   <label for="short answer questions"></label>
   {% for question in questions %}
      <div class="form-group">
         <!-- omitted for student <label for="question{{forloop.counter}}">{{ question.question_text }}</label> -->
         <input type="text" class="form-control" id="question_id_{{ question.id }}">
      </div>
   {% endfor %}

   <label for="Checkbox questions"></label>
   {% for checkboxquestion in checkboxMatrixQuestions %}
      <div class="form-group">
         <label for="check-question{{forloop.counter}}">
            <!-- omitted for student {{ checkboxquestion.question_text }} -->

            {% for i in boxesCount %}
               {% if forloop.counter == 1 %}
                  <div class="row">
               {% endif %}

                     <div class="col-md-1"> 
                        <input type="checkbox" id=cbmquestion{{forloop.parentloop.counter}}_id_{{forloop.counter}}>
                     </div>

               {% if forloop.counter == boxesCount|length %}
                  </div>
                  {% elif forloop.counter|divisibleby:cbSqrt and forloop.counter < boxesCount|length %}
                  </div>
                  <div class="row">
               {% endif %}

            {% endfor %}
         </label>
      </div>
   {% endfor %}

   <div class="form-group">
      <label for="images">Image Placement</label>
      <div class="row">
          <div id="slots" class="col-lg-7 col-centered">
              <div></div>
              <div></div>
              <div></div>
          </div>
      </div>

      <hr>
      <div class="row">
          <div id="image_options" class="col-lg-12 col-centered">
              {% for image in images %}
              <img src="{{ image.file.url }}" id="{{ image.id }}" width="{{ image.file.width }}" height="{{ image.file.height }}">
              {% endfor %}
          </div>
      </div>
   </div>
   <center><button type="button" id="submit" class="btn btn-primary btn-lg">Submit</button></center>
   {% endblock %}


   {% block js %}
   <script src="{% static "js/jquery-ui-1.10.4.min.js" %}"></script>
   <script>
       function get_results() {
           //var results = [];
           var results = {};
           var boxes = [];
           $("#slots div").each(function (index) {
               //results.push($(this).data('image_id'));
               results['image_slot_'+index] = $(this).data('image_id');
           });

           {% for question in questions %}
           results['{{ question.id }}'] = document.getElementById("question_id_{{ question.id }}").value;
           {% endfor %}

           {% for cbmquestion in checkboxMatrixQuestions %}
              results['cbm{{ forloop.counter0 }}'] = [];
           {% for count in boxesCount %}
              var box = document.getElementById(
                 "cbmquestion{{ forloop.parentloop.counter }}_id_{{ forloop.counter }}").checked;
              boxes.push(box);
           {% endfor %}
           boxesStr = boxes.toString();
           results['cbm{{ forloop.counter0 }}'] = boxesStr;
           {% endfor %}

           console.log(results); //TODO
           console.log(results['cbm0']); //TODO
           return results;
       }

       function handle_image_drop(event, ui) {
           var image_id = $(this).data('image_id');

           // if slot already contains an image
           // reset image to original position
           if (image_id) {
               $('#' + image_id).draggable('option', 'revert', true);
               $('#' + image_id).css({
                   'left': $('#' + image_id).data('orig_left'),
                   'top': $('#' + image_id).data('orig_top')
               });
           }

           ui.draggable.position({of: $(this)});
           ui.draggable.draggable('option', 'revert', false);

           var draggable_id = ui.draggable.attr('id');

           // if image moved from one slot to another
           // delete id from old slots
           $('#slots div').each(function () {
               if ($(this).data('image_id') == draggable_id) {
                   $(this).data('image_id', null);
               }
           });

           // save image id in slot
           $(this).data('image_id', draggable_id);
       }

       $(document).ajaxSend(function(event, xhr, settings) {
           function getCookie(name) {
               var cookieValue = null;
               if (document.cookie && document.cookie != '') {
                   var cookies = document.cookie.split(';');
                   for (var i = 0; i < cookies.length; i++) {
                       var cookie = jQuery.trim(cookies[i]);
                       // Does this cookie string begin with the name we want?
                       if (cookie.substring(0, name.length + 1) == (name + '=')) {
                           cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                           break;
                       }
                   }
               }
               return cookieValue;
           }
           function sameOrigin(url) {
               // url could be relative or scheme relative or absolute
               var host = document.location.host; // host + port
               var protocol = document.location.protocol;
               var sr_origin = '//' + host;
               var origin = protocol + sr_origin;
               // Allow absolute or scheme relative URLs to same origin
               return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                   (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                   // or any other URL that isn't scheme relative or absolute i.e relative.
                   !(/^(\/\/|http:|https:).*/.test(url));
           }
           function safeMethod(method) {
               return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
           }

           if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
               xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
           }
       });    

       $(document).ready(function () {
           // remember original positions
           $('#image_options img').each(function () {
               $(this).data('orig_left', $(this).css('left'));
               $(this).data('orig_top', $(this).css('top'));
           });

           $('#image_options img').draggable({
               stack: '#image_options img',
               cursor: 'move',
               revert: true
           });

           $('#slots div').droppable({
               accept: '#image_options img',
               hoverClass: 'hovered',
               drop: handle_image_drop
           });

           $('#submit').click(function () {
               var results = get_results();
               //for (var key in results){
               //   if (! results.hasOwnProperty(key)){
               //      continue;
               //   }
               //   console.log(results[key]);
               //   if (results[key] == '' || results[key] == undefined){
               //      alert('please finish the task');
               //      return;
               //   }
               //}
               
               var r = confirm("Are you sure you wish to submit?");

               if (r == true) {
                  $.post(
                      "{% url 'imagetask_answers' %}",
                      results,
                      function () { window.location = "{% url 'imagetask_done' %}" }
                  );
               }
           });
       });
   </script>
   </form>
   {% endblock %}
