{% extends "imagetask/base.html" %}
{% block title %}{{ block.super }} :: teacher{% endblock %}
{% load staticfiles %}


{% block content %}
<center><h1>Teacher</h1></center>
<hr>
<center><b>student:</b> {{ student_url }}</center>
<center><b>teacher:</b> {{ teacher_url }}</center>
<center></center>
<hr>
<div class="row">
    <div class="col-lg-6 col-centered">
        {% for image in images.all %}
        <img src="{{ image.file.url }}" id="img{{ image.id }}" width="{{ image.file.width }}" height="{{ image.file.height }}">
        {% endfor %}
    </div>
</div>
{% endblock %}
