{% extends "imagetask/base.html" %}
{% block title %}{{ block.super }} :: teacher{% endblock %}
{% load staticfiles %}


{% block content %}
<center><h1>Teacher</h1></center>
<hr>
<!-- left out until I add student_url and teacher_url to formcompletiontask in the model
<center><b>student:</b> {{ student_url }}</center>
<center><b>teacher:</b> {{ teacher_url }}</center>
--> 
<center></center>
<hr>

   <label for="short answer questions"></label>
   {% for question in questions %}
      <div class="form-group">
         <label for="question{{forloop.counter}}">{{ question.question_text }}</label>
         <input type="text" class="form-control" id="question_id_{{ question.id }}" 
            placeholder ="{{ question.correct_answer }}">
      </div>
   {% endfor %}


   <label for="Checkbox questions"></label>
   {% for checkboxquestion in checkboxMatrixQuestions %}
      <div class="form-group">
         <label for="check-question{{forloop.counter}}">
            Checkbox Question: "{{ checkboxquestion.question_text }}"<br>
         <div class="radio col-md-offset-1 col-md-11"> 
            checked boxes, by position:<br> 
            {% for ans in checkboxquestion.cbmanswer.all %}
               {% if ans.answer == True %}
                  {{ans.id}}{% if not forloop.last %},{% endif %}
               {% endif %}
            {% endfor %}
         </div>

         </label>
      </div>
   {% endfor %}


   <label for="Imagetask"></label>
   <div class="form-group">
      <label for="imagetask-instance">
       Image task images, in order:
         <div class="row col-lg-6 col-centered">
            {% for ans in images %}
            <img src="{{ ans.file.url }}" id="img{{ ans.id }}" 
               width="{{ ans.file.width }}" height="{{ ans.file.height }}">
            {% endfor %}
         </div>
      </label>
   </div>
{% endblock %}
